.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 40px;
  color: #2F5061;
}

.title span {
  color: #4297A0;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 5px;
}

.logoName {
  color: #2F5061;
  font-size: 20px;
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
}

.emailForm {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.emailButton {
  width: 180px;
  height: 46px;
  border: 1px solid #2F5061;
  border-radius: 5px;
  padding: 0 10px;
  margin: 40px 0;
  background-color: #2F5061;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.emailButton:disabled {
  width: 180px;
  height: 46px;
  border: 1px solid #2F5061;
  border-radius: 5px;
  padding: 0 10px;
  margin: 40px 0;
  background-color: #2F5061 !important;
  color: white;
  font-size: 16px;
  cursor: auto;
}

.emailButton:hover {
  background-color: #4297A0;
}

.emailInput {
  width: 332px;
  height: 46px;
  border: 1px solid #2F5061;
  border-radius: 5px;
  padding: 0 10px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.emailInputContainer {
  margin: 40px 10px;
}

.subTitle {
  color: #2F5061;
  font-size: 20px;
  margin: 0;
  line-height: 1.15;
  font-weight: 400;
  text-align: center;
  margin-top: 10px
}

.header {
  height: 80px;
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureList {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}

.feature p {
  color: #2F5061;
  font-size: 32px;
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
  flex: 1;
  margin-left: 6px;
}

.feature {
  display: flex;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
}
